body {
    max-width: 60%;
    margin: 3vh 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1,5;
    background-color:rgba(193, 213, 238, 0.63);
}

/* Header */
.header {
    display: block;
    padding: 0 3vh 0 1vh;
}

.logo {
    font-size: 1em;
    font-weight: 900;
    padding: 0 0 0 5%;
    color: rgb(46, 63, 78);
}

/* Main content */

.meme {
    max-width: 90%;
    margin: 1.5vh auto;
}

.meme-block {
    border-top: 0.16vh solid gray;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.meme-title{
    display: block;
    color: rgb(95, 148, 197);
    cursor: pointer;
}

.meme-img {
    display: none;
}

.meme-input {
    appearance: none;
    margin: 0;
    padding: 0;
}

.meme-input + #meme1 {
    color: black;
}

.meme-input:checked ~ .meme-img {
    display: block;
}

.meme-input:checked + .meme-title {
    color: black;
}

.meme-input:checked ~ .cross {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in, opacity 0.2s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    opacity: 1;
    transition: opacity 1s easeInOut 0s;
}

.cross {
    float: right;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.meme-input:checked ~ .meme-title>.cross {
    transform: rotate(90deg);
    transition: all 0.4s;
}

@media (min-width: 320px) {
    body{
        max-width: 80%;
        margin: 5vh auto;
    }

    .meme-title{
        font-size: 0.8rem;
        display: block;
        color: rgb(95, 148, 197);
        cursor: pointer;
    }
}

@media (min-width: 820px) {
    .logo {
        font-size: 3rem;;
    }

    .meme-title {
        font-size: 1.5rem;
    }

    .cross{
        padding: 0vh 0.5vh;
        margin: 0vh 1vh;
        font-size: 1rem;
    }
}

@media (min-width: 1920px) {
    body {
        max-width: 60%;
        margin: 0 auto;
    }

    .logo {
        font-size: 4rem;
        font-weight: 900;
        padding: 5% 0 0 5%;
    }

    .meme-title {
        font-size: 2rem;
        padding: 1%;
    }

    .cross{
        padding: 0vh 1vh;
        margin: -1vh 1vh;
        font-size: 2rem;
    }

    .meme-input:hover ~ .meme-title {
        color: black;
    }

    .meme-input:checked ~ .meme-title>.cross {
        transform: rotate(90deg);
        transition: all 0.4s;
    }

    .meme-input:hover ~ .meme-title>.cross {
        transform: rotate(90deg);
        transition: all 0.4s;
    }

    .meme-input:hover ~ .meme-img>img {
        transition: max-height 0.5s ease-in-out;
    }

    .meme-input:hover ~ .meme-img {
        display: block;
        opacity: 0.6;
    }
}